<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_Market.Properties.Settings.TraoDoiMuban" connectionString="Data Source=(localdb)\mssqllocaldb;Integrated Security=True;Encrypt=True" />
    </connectionStrings>
</configuration>